#! /bin/bash

# setup aws inspector for security/compliance scanning
wget https://inspector-agent.amazonaws.com/linux/latest/install
sudo bash install

sudo yum install -y python3.x86_64 python3-pip.noarch
pip3 install fastapi uvicorn --user

# uvicorn main:app --reload --host 0.0.0.0

