#! /bin/bash

# setup aws inspector for security/compliance scanning
wget https://inspector-agent.amazonaws.com/linux/latest/install
bash install

# install python3
yum install -y python3.x86_64 python3-pip.noarch
yum update -y

# install/configure the cloudwatch logs agent and set the service to start on boot
yum install -y awslogs
/usr/bin/aws s3api get-object --bucket tdk-awssec-s3-web.io-dev --key awslogs.conf /etc/awslogs/awslogs.conf
systemctl start awslogsd
systemctl enable awslogsd.service

# install app dependencies
#sudo -u ec2-user bash -c "pip3 install --user fastapi uvicorn streamlit httpx websockets pyjwt cryptography"
sudo -u ec2-user bash -c "pip3 install --user streamlit httpx websockets pyjwt cryptography"

# download application files from s3
#sudo -u ec2-user bash -c "/usr/bin/aws s3api get-object --bucket tdk-awssec-s3-web.io-dev --key main.py /home/ec2-user/main.py"
sudo -u ec2-user bash -c "/usr/bin/aws s3api get-object --bucket tdk-awssec-s3-web.io-dev --key streamlit_app.py /home/ec2-user/streamlit_app.py"

# start the apps
#sudo -u ec2-user bash -c "cd /home/ec2-user && ~/.local/bin/uvicorn main:app --reload --host 0.0.0.0 &"
sudo -u ec2-user bash -c "cd /home/ec2-user && ~/.local/bin/streamlit run streamlit_app.py &"
